.root {
    -fx-font-size: 14px;
    -fx-font-family: sans-serif;
    -fx-background-color: #eeeeee;
}
#header {
	-fx-font-size: 48px;
}

.pane {
	-fx-border-style:solid;
	-fx-border-width: 3;
	-fx-border-color: black;
}
